<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>hunter LIST</title>
</head>
<body>
  <h2>ハンター・ハンター</h2>
  <section class="huntersSection">
    <ul class="huntersList">
        <% for(var i = 0; i < hunters.length; i++) {%>
        <li class="hunter">
          <a href="/hunter/<%= hunters[i]._id%>">
            <img src="<%= hunters[i].charImage %>">
            <span><%= hunters[i].name %></span>
          </a>
        </li>
        <% } %>
    </ul>
</section>
</body>
</html>